{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block body %}
    If you already have registered please log in <a href="http://userpage/app_dev.php/admin/login">here</a>.

    {{ form(form) }}

{% endblock %}